<!--
TO DO LIST by Chris Muh
-->

<!doctype html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="listPage.css">
    <link rel="stylesheet" type="text/css" href="icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="search.js"></script>
</head>

    <body>
        
        <div class="wrapper"> 

            <h1> Watch list </h1> 
            
            <form id="searchForm" method="post" action="/search">
                <input  id="searchBar" type="text" name="searchBar">                
            </form>

            <form id="addForm" method="post" action="/add">
                <div class="dropdown-content">
                        <% if (searchItems) { %>
                            <% for(var i = 0; i < searchItems.length; i++) { %>
                                <form id="addForm" method="post" action="/add">
                                <div class="searchElements">
                                    <img class = "animeImage" src="<%= searchItems[i].image_url %>" alt=":C" >
                                <div class= "animeInfo">
                                <p><%=searchItems[i].title%></p>   
                                <p><%=searchItems[i].synopsis%></p>
                                <input type="text" name="id" value="<%=searchItems[i].mal_id%>" >
                                </div>   
                                    <button type="submit" value="Submit"> <i class="fa fa-plus"></i> </button>
                                </div>
                                </form>
                            <% } %> 
                        <% } %> 

                    <div class="searchElements">
                            <img class = "animeImage" src="https://cdn.myanimelist.net/images/anime/3/21914.jpg?s=f24ffd4aa107f8bdab7c696955447e6d" alt=":C" >
                            <div class= "animeInfo"> 
                                <p>Kodomo no Keijijougaku</p> 
                                <p>A child whose head is numerals, a child who winds his own face and has it under his arm. What was left is his identity, a child whose eyes are provided by fishes, a child who lies down on the floor an...</p>
                            </div>   
                            <button type="submit" value="Submit"> <i class="fa fa-plus"></i> </button>
                        </div>

                        <div class="searchElements">
                                <img class = "animeImage" src="https://cdn.myanimelist.net/images/anime/3/21914.jpg?s=f24ffd4aa107f8bdab7c696955447e6d" alt=":C" >
                                <div class= "animeInfo"> 
                                    <p>Kodomo no Keijijougaku</p> 
                                    <p>A child whose head is numerals, a child who winds his own face and has it under his arm. What was left is his identity, a child whose eyes are provided by fishes, a child who lies down on the floor an...</p>
                                </div>   
                                <button class="addButton" type="submit" value="Submit"> <i class="fa fa-trash"></i> </button>
                        </div>
                    
                    <div>   
                    <a href="#">Link 2</a>
                    </div>
                    <div>
                    <a href="#">Link 3</a>
                    </div>
                </div>
            </form>

            <div class="listWrap">
                <div>  </div> 
                <div class="listName"> 
                    <h2> My list </h2> 
                    <ul id="myList"> </ul>
                    <% if (listItems) { %>
                    <% for(var i = 0; i < listItems.length; i++) { %>
                       <div> 
                            <ul>
                                <span><i  onclick="changeColor(this)" id="heartIcon" class="material-icons love heartIcons"> favorite </i></span>
                                <%= listItems[i] %>
                                <span class="trash" style="cursor: pointer;">
                                    <span></span>
                                    <i></i>
                                </span>           
                            </ul>  
                        </div>
                      <% } %> 
                      <% } %>             
                </div> 
            </div>

        </div>

    </body>

</html>

<script>
function changeColor(node){
    console.log(node);
    if(node.classList.contains("liked")){
        node.classList.remove("liked");
      }
      else{
        node.classList.add("liked");  
      }
};
</script>

